.m-ebooks {
  padding: 0 0 10px 0;
}

.m-ebooks__title {
  margin: 0;
  padding: 0;
  @include font-default();
  @include font-size-default();
  
  &:not(:last-child) {
    margin: 0 0 5px 0;
  }
}

.m-ebooks__subtitle {
  margin: 0;
  padding: 0;
  
  &:not(:last-child) {
    margin: 0 0 spacing(medium) 0;
    
    @include mq(wide) {
      margin: 0 0 spacing(large) 0;
    }
  }
}

.m-ebooks__items {
  
  &:not(:last-child) {
    margin: 0 0 spacing(medium) 0;
    
    @include mq(wide) {
      margin: 0 0 spacing(large) 0;
    }
  }
}