.m-form-block {
	
	
}

.m-form-block__title {
	margin: 0 !important;
	padding: 0;
	@include font-default();
	@include font-size-default();
	
	&:not(:last-child) {
		margin: 0 0 5px 0 !important;
	}
}

.m-form-block__subtitle {
	margin: 0 !important;
	padding: 0;
	
	&:not(:last-child) {
		margin: 0 0 spacing(medium) 0 !important;
		
		@include mq(wide) {
			margin: 0 0 spacing(large) 0 !important;
		}
	}
}