.m-video-banner {
  position: relative;
  min-height: 550px;
  background: #000;
  display: flex;
  align-items: center;
  
  .container-narrow {
    margin-bottom: 0;
  }
  
  .bg-pop-black {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 768px) {
  
  .m-video-banner {
    min-height: 75vh;
  }
}

.m-video-banner__video {
  position: static;
}

.m-video-banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-video-banner__content {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 100%;
  padding: 100px 0;
}

.m-video-banner__title {
  margin: 0;
  padding: 0;
  @include font-default();
  
  &:not(:last-child) {
    margin: 0 0 5px 0;
  }
  
  &:not(.beta) {
    @include font-size-default();
  }
}

.m-video-banner__subtitle {
  margin: 0;
  padding: 0;
  
  &:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

.m-video-banner__copy {
  margin: 0;
  padding: 0;
  color: color(green);
  @include font-size-small();
  @include font-medium();
  
  &:not(:last-child) {
    margin: 0 0 spacing(default) 0;
  }
  
  & + .m-video-banner__buttons {
    padding-top: 10px;
  }
}

.m-video-banner__logos {
  margin: 0;
  padding: 0;
  
  &:not(:last-child) {
    margin: 0 0 spacing(default) 0;
  }
}

.m-video-banner__buttons {
  margin: 0;
  padding: 0 0 5px 0;
  
  &:not(:last-child) {
    margin: 0 0 spacing(default) 0;
  }
  
  @include mq(wide) {
    display: flex;
  }
}

.m-video-banner__button {
  margin: 0;
  
  &:not(:last-child) {
    margin: 0 0 spacing(default) 0;
    
    @include mq(wide) {
      margin: 0 spacing(default) 0 0;
    }
  }
}

.m-video-banner--overlay-dark {
  
  .m-video-banner__video:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
  }
}

.m-video-banner--one-title {
  
  .m-video-banner__title {
    margin: 0;
    padding: 0;
    
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }
}

.m-video-banner--height-full {
  min-height: 100vh;
}

.m-video-banner--with-logos {
  
  .m-video-banner__button {
    padding: 0 spacing(small) spacing(default) spacing(small);
    
    &:not(:last-child) {
      margin: 0;
    }
  }
  
  .m-video-banner__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .m-video-banner__content {
    padding-bottom: 70px; 
  }
}