{% if is_preview %}
  <p><strong>Testimonials</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
  <div class="container-narrow relative {{ theme_text_color }}" >
    <h5>
      {{ fields.testimonial }}
    </h5>
    <h6>
      {{ fields.quotee }}
    </h6>
  </div>
{% endif %}