{% if is_preview %}
  <p><strong>Text Block</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
  <div class="container-narrow two-col relative flex flex-wrap md:flex-nowrap" >
    <div class="two-col_column text-block md:mr-6 w-full md:w-1/2 {{ theme_text_color }}">
      {{ fields.column_1 }}
    </div>
    <div class="two-col_column text-block md:ml-6 w-full md:w-1/2 {{ theme_text_color }}">
      {{ fields.column_2 }}
    </div>
  </div>
{% endif %}