{% if is_preview %}
  <p><strong>Text Block</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
  <div class="container-narrow block-container relative " >
    <div class="w-full embed-container">
      {{ fields.video }}
    </div>
    <div class="w-full border-l-4 border-pop-{{ theme == 'dark' ? 'white' : 'black' }} pl-4 text-sm">
      <p class="text-sm {{ theme_text_color }}">{{ fields.caption }}</p>
    </div>
  </div>
{% endif %}