<div class="w-full h-full flex flex-col">
  <div class="mb-12 form-text opacity-0  w-4/6 leading-tight text-base sm:text-xl md:text-3xl">
    <span class="text-pop-yellow leading-tight text-base sm:text-xl md:text-3xl">Would you like to receive our email newsletter? </span>
    It’s bi-monthly with select and valuable content. No Spam, promise.
  </div>
  <div class="flex flex-col form-text opacity-0 justify-center">

    <div class="my-2">
      <input
        :id="form.id + '-newsletter-true'"
        name="marketing_consent"
        type="radio"
        v-model="form.newsletter"
        value="Yes"
        @change="nextStep()"
      >
      <label :for="form.id + '-newsletter-true'" class="pl-2 text-xl">
        Yes! Please sign me up.
      </label>
    </div>

    <div class="my-2">
      <input
        :id="form.id + '-newsletter-false'"
        name="marketing_consent"
        type="radio"
        v-model="form.newsletter"
        value="No"
        @change="nextStep()"
      >
      <label :for="form.id + '-newsletter-false'" class="pl-2 text-xl">
        No, thanks.
      </label>
    </div>
  </div>
  </div>
