/* .downloads-grid {
  transition: color 0.25s;
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 2px;
  box-shadow: inset 0 0 0 2px transparent;
  font-size: inherit;
  font-weight: 700;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &::before {
    bottom: 0;
    right: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: #FF0088;
    border-right-color: #FF0088;
    transition:
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: #FF0088;
    border-left-color: #FF0088;
    transition:
      width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
  }
}

.downloads-cover {
  width: 300%;
  height: 300%;
  bottom: -152%;
  right: -280%;
  transform: rotate(318deg);
} */

.fade-Y-enter-active {
  transition: all 0.3s ease;
}

.fade-Y-leave-active {
  transition: all 0.3s ease;
}

.fade-Y-enter {
  transform: translateY(50%);
  opacity: 0;
}

.fade-Y-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}
