@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply leading-normal;

    position: relative;
    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    line-height: 120%;
  }

  h1 *,
  h2 *,
  h3 *,
  h4 *,
  h5 *,
  h6 * {
    display: inline-block;
    line-height: 120%;
  }

  h1 {
    @apply my-5 text-3xl md:text-6xl font-semibold;
  }

  h2 {
    @apply my-5 text-4xl sm:text-5xl font-bold;
  }

  h3 {
    @apply my-5 text-3xl sm:text-4xl font-medium;
  }

  h4 {
    @apply my-5 text-2xl sm:text-3xl font-medium;
  }

  h5 {
    @apply my-5 text-xl sm:text-2xl font-medium;

    line-height: 150%;
  }

  h6 {
    @apply my-5 text-xl font-medium;
  }

  p,
  li,
  pre {
    @apply text-lg font-normal;

    line-height: 180%;
  }

  ul li {
    @apply pl-5;
  }

  ul li::before {
    @apply absolute top-4 left-0 transform -translate-y-1/2 w-2 h-2 bg-pop-pink rounded;

    content: '';
  }

  ol {
    list-style: decimal-leading-zero;
    list-style-position: inside;
  }

  ol::marker {
    @apply text-pop-pink;
  }

  pre {
    @apply border-4 border-pop-pink rounded-2xl p-8 my-10 overflow-auto;
  }

  p,
  ul {
    @apply my-3;

    line-height: 180%;
  }

  .text-block img {
    @apply w-full;
  }

  .banner-title > * {
    @apply my-5 font-normal;

    font-size: 5rem;
    line-height: 4rem;
  }

  @media (max-width: 375px) {
    p {
      font-size: 1rem;
    }
  }

  blockquote {
    @apply my-4 px-8 border-l-4 border-gray-200;
  }

  hr {
    @apply my-6 border-t;
  }

  .container-banner {
    @apply px-4 xs:px-10 md:px-0 mx-auto;
  }

  @media (min-width: 985px) {
    .container-banner {
      width: 985px;
    }
  }

  .container-narrow {
    @apply px-4 xs:px-10 md:px-0 md:mx-auto xs:mb-20 sm:mb-0;

    max-width: 985px;
  }

  .container div > .container-narrow ~ .container-narrow {
    @apply mt-20 sm:mt-0;
  }

  .section > .container-narrow ~ .container-narrow {
    @apply mt-20 sm:mt-0;
  }

  .container-wide {
    @apply md:px-0 md:mx-auto;

    max-width: 1050px;
  }

  .wp-block-video {
    @apply px-4 xs:px-10 md:px-0 md:mx-auto mb-40 mt-20 shadow-md !important;

    max-width: 985px;
  }

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }

  input::-moz-placeholder { /* Firefo 19+ */
    color: white;
  }

  input:-ms-input-placeholder { /* IE 10+ */
    color: white;
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: white;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}
