@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply leading-normal text-pop-black;

    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    line-height: 120%;
  }

  h1 {
    @apply my-5 text-3xl md:text-6xl font-semibold;
  }

  h2 {
    @apply my-5 text-5xl font-bold;
  }

  h3 {
    @apply my-5 text-4xl font-medium;
  }

  h4 {
    @apply my-5 text-3xl font-medium;
  }

  h5 {
    @apply my-5 text-2xl font-medium;

    line-height: 150%;
  }

  h6 {
    @apply my-5 text-xl font-medium;
  }

  p {
    @apply my-3 text-lg font-normal;

    line-height: 180%;
  }

  blockquote {
    @apply my-4 px-8 border-l-4 border-gray-200;
  }

  hr {
    @apply my-6 border-t;
  }

  .pattern.polkadot-blue {
    background-image: radial-gradient(circle, #00f 5%, transparent 5%), radial-gradient(circle, #00f 5%, transparent 5%);
    background-size: 20px 20px;
    background-position: 0 0, 0 0;
  }

  .pattern.polkadot-pink {
    background-image: radial-gradient(circle, #FB00 5%, transparent 5%), radial-gradient(circle, #F1F 5%, transparent 5%);
    background-size: 20px 20px;
    background-position: 0 0, 0 0;
  }

  .pattern.polkadot-pale-pink {
    background-image: radial-gradient(circle, #FFD 5%, transparent 5%), radial-gradient(circle, #FFD 5%, transparent 5%);
    background-size: 20px 20px;
    background-position: 0 0, 0 0;
  }

  .pattern.polkadot-gray {
    background-image: radial-gradient(circle, #DFD 5%, transparent 5%), radial-gradient(circle, #DFD 5%, transparent 5%);
    background-size: 20px 20px;
    background-position: 0 0, 0 0;
  }

  .container-narrow {
    @apply px-4 sm:px-10 md:px-0 md:mx-auto;

    max-width: 886px;
  }

  .container-wide {
    @apply px-4 sm:px-10 md:px-0 md:mx-auto;

    max-width: 985px;
  }

  .wp-block-video {
    @apply px-4 sm:px-10 md:px-0 md:mx-auto !important;

    max-width: 886px;
  }
}
