/* TURBINE */
.turbine-container {
  padding-bottom: 50%;

  @media (max-width: 500px) {
    padding-bottom: 100%;
  }
}

.turbine-toggles {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  /* -ms-user-select: none; */
  user-select: none;
}

.label-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: max-content;
  border: 0 solid #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 180%;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  box-shadow: 0 0 4px 2px #27272750;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 10px;
}

canvas,
.label-div {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.label-title.visible {
  opacity: 1;
  pointer-events: all;
}

.point.visible .label-title:hover {
  transform: scale(1.2, 1.2);
}

.point.visible .label-title {
  transform: scale(1, 1);
}
