.has-pop-white-color { color: #F8F7EE; }
.has-pop-black-color { color: #2D2D2D; }
.has-pop-black-dark-color { color: #272727; }
.has-pop-gray-color { color: #DFDFDF; }
.has-pop-mid-gray-color { color: #8E8E8E; }
.has-pop-dark-gray-color { color: #3C3B3B; }
.has-pop-navy-color { color: #212363; }
.has-pop-green-color { color: #64FFE3; }
.has-pop-green-pale-color { color: #E8FDF5; }
.has-pop-pink-color { color: #FF0088; }
.has-pop-pink-pale-color { color: #CDF2F4; }
.has-pop-blue-color { color: #3A3EAB; }
.has-pop-yellow-color { color: #FFFF99; }
.has-pop-purple-color { color: #6F62FF; }

.has-pop-white-background { color: #F8F7EE; }
.has-pop-black-background { color: #2D2D2D; }
.has-pop-black-dark-background { color: #272727; }
.has-pop-gray-background { color: #DFDFDF; }
.has-pop-mid-gray-background { color: #8E8E8E; }
.has-pop-dark-gray-background { color: #3C3B3B; }
.has-pop-navy-background { color: #212363; }
.has-pop-green-background { color: #64FFE3; }
.has-pop-green-pale-background { color: #E8FDF5; }
.has-pop-pink-background { color: #FF0088; }
.has-pop-pink-pale-background { color: #CDF2F4; }
.has-pop-blue-background { color: #3A3EAB; }
.has-pop-yellow-background { color: #FFFF99; }
.has-pop-purple-background { color: #6F62FF; }
