{% set is_lazy = function('intval', block_index) > 1 %}

<section class="m-section section--{{ block_name }} m-section--index-{{ block_index }}{{ auto_classes }}"{% if block_id %} id="{{ block_id }}"{% endif %} data-intersection-observer>
  <div class="m-section__inner">
      
    {% block content %}
      Sorry, no content
    {% endblock %}
    
  </div>
</section>