$breakpoints: (
  large-phone: 375,
  tablet: 481,
  middle: 601,
  desktop: 769,
  wide: 1025,
  widest: 1400
) !default;

$colors: (
  white: #fff,
  black: #000,
  grey: #2d2d2d,
  pink: #FF0088,
  purple: #6F62FF
) !default;

$spacings: (
  small: 15px,
  default: 30px,
  medium: 40px,
  large: 60px,
  massive: 100px
);
