<div class="w-1/2 form-text opacity-0 sm:mb-12 leading-tight text-base sm:text-xl md:text-3xl">
  Brill! Are you a human?
  Prove it by simply entering the answer to <span class="text-pop-yellow" v-html="captcha.a"></span> <span class="text-pop-yellow">+</span> <span class="text-pop-yellow" v-html="captcha.b"></span>
</div>
<div class="grid grid-cols-2 auto-cols-auto space-x-4 my-4">
  <div>
    {% include "/templates/partial/input.twig" with
      {
        'type': 'text',
        'name': 'captcha',
        'model': 'form.captcha.value',
        'placeholder': 'Your answer?',
        'action': 'validateCaptcha',
        'guide': false,
        'arrow': false,
        'text_color': 'text-pop-white',
        'bg_color': 'bg-pop-black',
        'border_color': 'border-pop-white',
        'valid': 'validationHighlight(form.captcha.valid)'
      }
    %}
  </div>
  <div class="pt-2">
    <div
      class="flex justify-center cursor-pointer"
      @click="submit"
    >
      <div class="bg-pop-purple text-pop-white m-0 px-4 py-3 h-12 leading-0">
        Submit
      </div>
      <div class="w-12 h-12 p-3 bg-white">
        <svg class="transform rotate-90 text-pop-purple" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            class="fill-current"
            d="M13.0607 0.625645C12.4749 0.0398579 11.5251 0.0398579 10.9393 0.625645L1.3934 10.1716C0.807611 10.7574 0.807611 11.7071 1.3934 12.2929C1.97919 12.8787 2.92893 12.8787 3.51472 12.2929L12 3.80762L20.4853 12.2929C21.0711 12.8787 22.0208 12.8787 22.6066 12.2929C23.1924 11.7071 23.1924 10.7574 22.6066 10.1716L13.0607 0.625645ZM13.5 24.3137V1.6863H10.5V24.3137H13.5Z"
            fill="currentColor"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="form-text flex mt-10 opacity-0">
  <div>
    By submitting this you agree to:<br>
    <ol class="m-3 pl-4" style="list-style-type: lower-roman; list-style-position: outside">
      <li>The POPcomms <a href="{{ site.url }}/privacy-policy" target="_blank">Privacy Policy</a></li>
      <li>Receive occassional, valuable information regarding POPcomms and our services. You may unsubscribe from these communications at any time.</li>
  </div>
</div>
<div class="hidden sm:block absolute top-0 right-0 w-1/2 pointer-events-none">
  <svg class="watching-eye w-full" preserveAspectRatio="xMidYMid meet"  viewBox="0 0 496 369" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect class="lines" y="-123.89" width="496" height="245.916" fill="url(#pattern5)"/>
    <clipPath id="irisclipPath5">
      <path class="eye-mask" style="transform-origin: 50% 32%;" d="M0 122.813C58.13 49.7951 147.621 3.01562 248 3.01562C348.379 3.01562 437.87 49.7951 496 122.813C437.87 195.83 348.379 242.61 248 242.61C147.621 242.61 58.13 195.83 0 122.813Z" fill="black"/>
    </clipPath>
    <rect fill="white" style="clip-path: url(#irisclipPath5)" class="lines" y="0" width="496" height="245.916"/>
    <!-- <path style="clip-path: url(#irisclipPath5)" d="M0 122.813C58.13 49.7951 147.621 3.01562 248 3.01562C348.379 3.01562 437.87 49.7951 496 122.813C437.87 195.83 348.379 242.61 248 242.61C147.621 242.61 58.13 195.83 0 122.813Z" fill="white"/> -->
    <ellipse class="iris" style="clip-path: url(#irisclipPath5)" cx="247.653" cy="121.806" rx="101.771" ry="102.118" fill="#6F62FF"/>
    <ellipse class="pupil" style="clip-path: url(#irisclipPath5)" cx="244.924" cy="78.2744" rx="35.4286" ry="35.4286" fill="#F8F7EE"/>
    <defs>
      <pattern id="pattern5" patternContentUnits="objectBoundingBox" width="0.0241935" height="0.0487972">
        <use xlink:href="#image0" transform="scale(0.00201613 0.00406643)"/>
      </pattern>
      <image id="image0" width="12" height="12" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA8SURBVHgB7dGxDQAgCATAdytjwWqwDzuqaBzg7SggITTHN99AzBC3ODoBo3Ds6uJaOAl+DzS+jf/gE74Bfmo++ZWcm1wAAAAASUVORK5CYII="/>
    </defs>
  </svg>
</div>
