<div class="grid md:grid-cols-2">
  <div class="flex flex-col form-text justify-center text-2xl p-6">
    <div>
      Thanks, <span class="text-pop-yellow">all done!</span><br>
      Check your email to find your guide.
    </div>
  </div>
</div>

  <svg class="hidden md:block absolute right-0 top-1/2 transform -translate-y-1/2" width="408" height="336" viewBox="0 0 408 336" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="finger stroke-current text-pop-black" stroke-width="2" d="M83.8623 99.4615C83.8623 80.9476 99.1777 65.9391 118.07 65.9391L542.543 65.9392C561.436 65.9392 576.751 80.9477 576.751 99.4616C576.751 117.975 561.436 132.984 542.543 132.984L118.07 132.984C99.1776 132.984 83.8623 117.975 83.8623 99.4615Z" fill="#6F62FF"/>
    <path class="finger stroke-current text-pop-black" stroke-width="2" d="M197.889 166.867C197.889 148.154 213.369 132.984 232.464 132.984L542.175 132.984C561.271 132.984 576.751 148.154 576.751 166.867C576.751 185.58 561.271 200.75 542.175 200.75L232.464 200.75C213.369 200.75 197.889 185.58 197.889 166.867Z" fill="#6F62FF"/>
    <path class="finger stroke-current text-pop-black" stroke-width="2" d="M216.28 234.632C216.28 215.92 231.76 200.75 250.856 200.75L542.176 200.75C561.271 200.75 576.751 215.92 576.751 234.633C576.751 253.346 561.271 268.515 542.176 268.515L250.856 268.515C231.76 268.515 216.28 253.345 216.28 234.632Z" fill="#6F62FF"/>
    <path class="finger stroke-current text-pop-black" stroke-width="2" d="M233.937 302.038C233.937 283.524 249.252 268.515 268.144 268.515L542.544 268.515C561.436 268.515 576.752 283.524 576.752 302.038C576.752 320.552 561.436 335.56 542.544 335.56L268.144 335.56C249.252 335.56 233.937 320.552 233.937 302.038Z" fill="#6F62FF"/>
    <path class="hand"d="M379.105 137.017C379.105 97.7617 411.579 65.9391 451.637 65.9391H487.545C527.603 65.9391 560.077 97.7618 560.077 137.017V264.483C560.077 303.738 527.603 335.56 487.545 335.56H451.637C411.579 335.56 379.105 303.738 379.105 264.482V137.017Z" fill="#6F62FF"/>
    <path class="waves opacity-0 origin-center" d="M130.346 184.698C118.12 186.375 105.723 185.501 93.9727 182.131C82.2223 178.761 71.3854 172.974 62.1767 165.149C52.9679 157.325 45.5964 147.641 40.5482 136.738C35.5 125.834 32.8898 113.957 32.8897 101.891C32.8896 89.825 35.4995 77.8432 40.5475 66.736C45.5954 55.6287 52.9667 45.6481 62.1753 37.4524C71.3839 29.2566 82.2207 23.0319 93.971 19.1886C105.721 15.3452 118.118 13.9706 130.345 15.1553L128.988 26.3128C118.367 25.2836 107.598 26.4777 97.3901 29.8165C87.1825 33.1552 77.7686 38.5627 69.769 45.6823C61.7695 52.802 55.366 61.4721 50.9808 71.1211C46.5956 80.77 44.3283 91.1786 44.3285 101.661C44.3286 112.142 46.5961 122.46 50.9815 131.932C55.3668 141.404 61.7705 149.816 69.7702 156.613C77.7699 163.41 87.1839 168.438 97.3915 171.365C107.599 174.292 118.369 175.052 128.99 173.595L130.346 184.698Z" fill="#3A3EAB"/>
    <path class="waves opacity-0 origin-center" d="M121.559 160.297C104.817 160.599 88.7233 154.419 76.8186 143.116C64.914 131.814 58.1735 116.315 58.08 100.029C57.9866 83.7426 64.5478 68.0036 76.3203 56.2741C88.0928 44.5445 104.112 37.7853 120.854 37.4833L120.916 48.2672C107.114 48.5161 93.9081 54.0884 84.203 63.758C74.4979 73.4277 69.089 86.4027 69.166 99.8287C69.2431 113.255 74.7998 126.032 84.6138 135.349C94.4279 144.667 107.695 149.762 121.497 149.513L121.559 160.297Z" fill="#3A3EAB"/>
  </svg>
    