{% extends "base.twig" %}

{% block content %}
<div class="relative content-wrapper">

  {% include "/templates/partial/search-hero.twig" with
    {
      'post': post,
      'title': title,
      'categories': archiveCats
    }
  %}

	<div class="px-4 md:mx-auto mb-20 sm:mb-0 mt-12 max-w-screen-lg">
		{% for post in posts %}
			<div class="mb-12">
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</div>
		{% endfor %}
	</div>
</div>

	<!-- Pagination -->
	{% include 'partial/pagination.twig' %}

{% endblock %}