{% extends "base.twig" %}

{% block content %}
<div class="relative content-wrapper">

  {% include 'partial/blog-hero.twig' with {
    'breadcrumb': breadcrumb,
    'title': title,
    'subtitle': description
  } %}

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 w-full max-w-4xl mx-auto p-6">
    <div class="lg:col-span-2">
      {% for post in posts %}
        <div class="mb-6">
          {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        </div>
      {% endfor %}
    </div>
    <div class="lg:pl-6">
      {% include "sidebar.twig" with { 'categories': categories, 'tags': tags, post_format: post_format, post_type: post_type, current_category: current_category } %}
    </div>
  </div>

</div>

<!-- Pagination -->
{% include 'partial/pagination.twig' %}

{% endblock %}
