{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body id="site" class="font-default slider-content" data-template="base.twig">
		
		{% include 'partial/nav.twig' %}

		<div id="site-wrapper">
			<section role="main" class="content-wrapper">
				<div class="wrapper">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
			</section>
		</div>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' with 
					{
						'fields': content,
					}
				%}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
