{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body id="site" class="font-default slider-content antialiased" data-template="base.twig">

		<div id="site-wrapper">

      {% include 'partial/nav.twig' %}

			<section role="main" class="content-wrapper">
				<div class="wrapper">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
			</section>

      {% include "templates/contact.twig" with
        {
          'theme_text_color': 'text-pop-white',
          'theme_bg_color': 'bg-pop-black',
          'theme_border_color': 'border-pop-gray'
        }
      %}

		</div>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' with
					{
						'fields': content,
					}
				%}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

    {% include "partial/hubspot.twig" %}
	</body>
</html>
