<div
  inline-template
  id="contact-form"
  ref="contactForm"
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5/6 overflow-hidden bg-white"
>

  {% include 'partial/forms/contact/intro.twig' %}
  {# {% include 'partial/pagination.twig' %} #}

</div>
