<div
  id="contact-form"
  inline-template
  is="contact-form"
  class=""
>
  <transition name="fade">
    <div
      v-show="show"
      class="fixed top-0 right-0 w-screen h-screen z-50"
    >
      <div
        class="absolute h-full w-full bg-pop-black opacity-50 cursor-pointer"
        @click="hide()"
      ></div>
      <div
        ref="contactForm"
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5/6 bg-pop-black text-white shadow-md max-w-4xl"
      >
        <div
          ref="contactFormStep1"
          class="relative px-10"
          v-show="step === 1"
        >
          <div class="text-sm mb-4">&nbsp;</div>
          {% include "partial/forms/contact/intro.twig" %}
        </div>

        <div
          ref="contactFormStep2"
          class="relative p-10"
          v-show="step === 2"
        >
          <div class="text-sm mb-4">1 / 6</div>
          {% include "partial/forms/contact/name-email.twig" %}
        </div>

        <div
          ref="contactFormStep3"
          class="relative p-10"
          v-show="step === 3"
        >
          <div class="text-sm mb-4">2 / 6</div>
          {% include "partial/forms/contact/company-phone.twig" %}
        </div>

        <div
          ref="contactFormStep4"
          class="relative p-10"
          v-show="step === 4"
        >
          <div class="text-sm mb-4">3 / 6</div>
          {% include "partial/forms/contact/message.twig" %}
        </div>

        <div
          ref="contactFormStep5"
          class="relative p-10"
          v-show="step === 5"
        >
          <div class="text-sm mb-4">4 / 6</div>
          {% include "partial/forms/newsletter.twig" %}
        </div>

        <div
          ref="contactFormStep6"
          class="relative p-10"
          v-show="step === 6"
        >
          <div class="text-sm mb-4">5 / 6</div>
          {% include "partial/forms/privacy.twig" %}
        </div>

        <div
          ref="contactFormStep7"
          class="relative p-10"
          v-show="step === 7"
        >
          <div class="text-sm mb-4">6 / 6</div>
          {% include "partial/forms/captcha.twig" %}
        </div>

        <div
          ref="contactFormStep8"
          class="relative p-10"
          v-show="step === 8"
        >
          <div class="text-sm mb-4">&nbsp;</div>
          {% include "partial/forms/contact/thanks.twig" %}
        </div>
      </div>
    </div>
  </transition>
</div>
