{% extends "base.twig" %}

{% block content %}
  <div class="page-hero relative h-screen overflow-hidden flex justify-center" >
    <div class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-no-repeat pb-12 px-12 pt-12" style="background-image: url({{ theme.link }}/static/images/about-us-hero.svg);"></div>
    <svg class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-2/3" style="top: 52vh; height: 62vh; max-width: 80vw;" width="722" height="673" viewBox="0 0 722 673" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M89.5723 226.134H141.828V133.541C141.828 110.317 154.662 97.4821 174.525 97.4821C194.388 97.4821 207.223 110.317 207.223 133.541V226.134H259.173V126.513C259.173 80.6749 233.198 53.7833 194.388 53.7833C170.858 53.7833 152.217 63.8676 141.828 78.5358V0.00012207H89.5723V226.134Z" fill="#2D2D2D"/>
      <path d="M295.485 226.134H347.74V0.00012207H295.485V226.134Z" fill="#2D2D2D"/>
      <path d="M385.609 226.134H437.864V0.00012207H385.609V226.134Z" fill="#2D2D2D"/>
      <path d="M642.583 140.875C642.583 86.7866 604.079 53.1721 553.963 53.1721C504.152 53.1721 465.343 86.7866 465.343 140.875C465.343 194.964 503.236 228.579 553.352 228.579C603.468 228.579 642.583 194.964 642.583 140.875ZM518.515 140.875C518.515 111.845 535.017 98.3989 553.963 98.3989C572.298 98.3989 589.411 111.845 589.411 140.875C589.411 169.6 571.993 183.352 553.352 183.352C534.405 183.352 518.515 169.6 518.515 140.875Z" fill="#2D2D2D"/>
      <path d="M46.6756 500.949H104.126L131.934 390.327L158.826 500.949H216.582L262.725 330.432H213.526L189.69 451.75L160.659 330.432H105.348L76.6231 452.361L52.4818 330.432H0.226562L46.6756 500.949Z" fill="#2D2D2D"/>
      <path d="M449.503 415.691C449.503 361.602 410.999 327.987 360.883 327.987C311.072 327.987 272.263 361.602 272.263 415.691C272.263 469.779 310.155 503.394 360.271 503.394C410.388 503.394 449.503 469.779 449.503 415.691ZM325.435 415.691C325.435 386.66 341.936 373.214 360.883 373.214C379.218 373.214 396.331 386.66 396.331 415.691C396.331 444.416 378.912 458.167 360.271 458.167C341.325 458.167 325.435 444.416 325.435 415.691Z" fill="#2D2D2D"/>
      <path d="M505.95 500.949H563.4L591.209 390.327L618.1 500.949H675.856L722 330.432H672.8L648.964 451.75L619.934 330.432H564.623L535.898 452.361L511.756 330.432H459.501L505.95 500.949Z" fill="#2D2D2D"/>
      <path d="M191.019 558.229L195.908 558.229C238.385 599.177 299.197 622.402 361.231 622.402C422.653 622.402 485.91 599.177 528.997 555.478L533.887 555.478L533.887 606.817C495.077 649.293 430.293 672.518 361.231 672.518C292.168 672.518 228.912 649.293 191.019 609.873L191.019 558.229Z" fill="#2D2D2D"/>
    </svg>
  </div>
  {{post.content}}
{% endblock %}