{% extends "base.twig" %}

{% block content %}
  <div class="container-narrow py-16">
    <div class="py-24">
      <h1 class="font-medium">{{ post.title }}</h1>
    </div>
    {{ post.content }}
  </div>
{% endblock %}
