{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
<div class="relative content-wrapper">

  {% include "/templates/partial/search-hero.twig" with
    {
      'post': post,
      'title': title,
      'categories': categories
    }
  %}
	{% if posts|length > 0 %}
	<div class="container-narrow mb-20 mt-12">
			{% for post in posts %}
				<div class="mb-8">
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
    	{% endfor %}
			{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>
	{% endif %}
	{% if posts|length == 0 %}
	<div class="container-banner py-20 px-12 ">
		<h3>Sorry, there are no insights on &ldquo;{{ s }}&rdquo; 😊, try another topic or clear your filters to start again.</h3>
	</div>
	{% endif %}


</div>
{% endblock %}
