{% extends "base.twig" %}

{% block content %}
	<div class="relative content-wrapper">
		{% include "/templates/partial/post-hero.twig" with
			{
				'fields': hero,
			}
		%}
		<article
      id="post-{{ post.ID }}"
      class="pop-container bg-pop-{{ content.theme }} post-type-{{ post.post_type }}"
    >
			{{ post.content }}
		</article>
	</div>
{% endblock %}
