{% extends "base.twig" %}

{% block content %}
	<div class="relative content-wrapper">
		{% include "/templates/partial/post-hero.twig" with
			{
				'fields': hero
			}
		%}
		<article
      id="post-{{ post.ID }}"
      class="relative pop-container bg-pop-{{ content.theme }} post-type-{{ post.post_type }}"
    >
			{{ post.content }}
			{# <a class="absolute top-0 right-0" href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com." title="Share by Email">
				Link
			</a> #}
		</article>
    {% include "/templates/partial/related.twig" %}
	</div>
{% endblock %}
