{% extends "base.twig" %}

{% block content %}
	<div class="relative content-wrapper">
		{% include "/templates/partial/post-banner.twig" with 
			{
				'fields': banner,
			}
		%}
		<article id="content" class="pop-container bg-pop-{{ content.theme }} post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			{{ post.content }}
		</article>
	</div>
{% endblock %}
