<div class="w-1/2 form-text opacity-0 mb-12 leading-tight text-base sm:text-xl md:text-3xl">
  We'd also love to know your
</div>
<div class="my-4">
  {% include "/templates/partial/input.twig" with
    {
      'type': 'text',
      'name': 'phone',
      'model': 'form.phone.value',
      'placeholder': 'Telephone',
      'action': null,
      'guide': false,
      'arrow': false,
      'text_color': 'text-pop-white',
      'bg_color': 'bg-pop-black',
      'border_color': 'border-pop-white'
    }
  %}
</div>
<div class="my-4">
  {% include "/templates/partial/input.twig" with
    {
      'type': 'text',
      'name': 'company',
      'model': 'form.company.value',
      'placeholder': 'Company Name *',
      'action': 'validateCompany',
      'guide': true,
      'arrow': true,
      'text_color': 'text-pop-white',
      'bg_color': 'bg-pop-black',
      'border_color': 'border-pop-white'
    }
  %}
</div>
