<div class="sm:grid grid-cols-2 space-x-12">
  <div class="form-text opacity-0 sm:pr-8 mb-6 leading-tight text-base sm:text-xl md:text-2xl">
    Thanks, all done! One of the team will review your email and we’ll be in touch very soon, usually within a day.
  </div>
  <div class="block" style="padding-bottom: 100%;"></div>
</div>
<div class="block absolute bottom-0 right-5">
  <!-- <img
    class="w-full max-w-full object-contain"
    src="{{ theme.link }}/static/images/contact-thanks.svg"
  > -->
  <svg class="w-full transform scale-75 md:scale-100 origin-bottom" width="468" height="493" viewBox="0 0 400 435" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="finger stroke-current text-pop-black" d="M345.898 47C372.646 47 394.33 70.1203 394.33 98.6407L394.33 739.431C394.33 767.951 372.646 791.071 345.897 791.071V791.071C319.149 791.071 297.465 767.951 297.465 739.431L297.465 98.6406C297.465 70.1202 319.149 47 345.898 47V47Z" fill="#FFFF99"/>
    <path class="finger stroke-current text-pop-black" d="M248.51 219.136C275.546 219.136 297.463 242.505 297.463 271.332L297.463 738.875C297.463 767.702 275.546 791.071 248.509 791.071V791.071C221.473 791.071 199.556 767.702 199.556 738.875L199.556 271.332C199.556 242.505 221.473 219.136 248.51 219.136V219.136Z" fill="#FFFF99"/>
    <path class="finger stroke-current text-pop-black" d="M150.604 246.9C177.64 246.9 199.558 270.269 199.558 299.096L199.558 738.875C199.557 767.702 177.64 791.071 150.604 791.071V791.071C123.568 791.071 101.651 767.702 101.651 738.875L101.651 299.096C101.651 270.269 123.568 246.9 150.604 246.9V246.9Z" fill="#FFFF99"/>
    <path class="finger stroke-current text-pop-black" d="M53.2178 273.554C79.9664 273.554 101.65 296.674 101.65 325.194L101.65 739.431C101.65 767.952 79.9663 791.072 53.2177 791.072V791.072C26.4691 791.072 4.78514 767.952 4.78515 739.431L4.78524 325.194C4.78525 296.674 26.4693 273.554 53.2178 273.554V273.554Z" fill="#FFFF99"/>
    <path class="hand" d="M291.725 406C347.322 406 392.393 441.529 392.393 485.356L392.393 524.644C392.393 568.471 347.322 604 291.725 604L111.195 604C55.598 604 10.5275 568.471 10.5275 524.644L10.5275 485.356C10.5275 441.529 55.598 406 111.195 406L291.725 406Z" fill="#FFFF99"/>
  </svg>
  <!-- <div class="hidden opacity-0">
    <input
      type="submit"
      value="Submit"
    >
  </div> -->
</div>

