<div class="grid grid-cols-2 space-x-12">
  <div class="mb-6 leading-tight text-base sm:text-xl md:text-3xl">
    Thanks, all done! One of the team will review your email and we’ll be in touch very soon, usually within a day.
  </div>
  <div>
    <img
      class="w-full max-w-full object-contain"
      src="{{ theme.link }}/static/images/contact-thanks.svg"
    >
    <div class="opacity-0">
      <input
        type="submit"
        value="Submit"
      >
    </div>
  </div>
</div>
