<div class="flex flex-col md:flex-row md:items-center">
  <div class="my-2">
    {% if post.author.meta('avatar') %}
      <div
      class="inline-block align-middle w-6 h-6 rounded-full bg-cover mr-2"
      style="background-image: url({{ Image(post.author.meta('avatar')).src }})"
      ></div>
    {% endif %}
    <div class="inline-block align-middle mr-8 text-xs">
      {{ post.author.display_name }}
    </div>
  </div>
</div>
