{# 

text
link
color
bg_color

#}
<div class="flex">
  <div class="flex items-center px-8 py-2 bg-pop-black text-pop-white">
    {# {{ fields.bg_color == 'transparent' ? 'text-pop-white bg-pop-black' : 'text-pop-black bg-pop-white ' }} #}
    {{ text }}
  </div>
  <div class="w-12 h-12 p-3 bg-pop-{{ color }}">
    <svg class="w-full h-full" width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.4393 26.5609C11.0251 27.1467 11.9749 27.1467 12.5607 26.5609L22.1066 17.015C22.6924 16.4292 22.6924 15.4794 22.1066 14.8936C21.5208 14.3079 20.5711 14.3079 19.9853 14.8936L11.5 23.3789L3.01472 14.8936C2.42893 14.3079 1.47918 14.3079 0.893398 14.8936C0.307612 15.4794 0.307612 16.4292 0.893398 17.015L10.4393 26.5609ZM10 0.500244L10 25.5002H13L13 0.500244L10 0.500244Z" fill="#2D2D2D"/>
    </svg>
  </div>
</div>