<a href="{{ link.link }}">
  <div class="flex">
    <div class="flex lowercase items-center px-8 py-2 {{ link.background_color == 'transparent' ? 'text-pop-white bg-pop-black' : 'text-pop-black bg-pop-white' }}">
      {{ link.text }}
    </div>
    <div class="w-12 h-12 p-3 bg-pop-{{ link.accent_color }}">
      <svg class="" width="36" height="35" viewBox="5 5 39 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27.6816 9.18171C27.6816 8.35328 27.01 7.68171 26.1816 7.68171H12.6816C11.8531 7.68171 11.1816 8.35328 11.1816 9.18171C11.1816 10.0101 11.8531 10.6817 12.6816 10.6817L24.6816 10.6817L24.6816 22.6817C24.6816 23.5101 25.3531 24.1817 26.1816 24.1817C27.01 24.1817 27.6816 23.5101 27.6816 22.6817V9.18171ZM9.56457 27.92L27.2422 10.2424L25.1209 8.12105L7.44325 25.7987L9.56457 27.92Z" fill="#F8F7EE"/>
      </svg>
    </div>
  </div>
</a>