<div class="container-wide flex">
  <div class="w-5 py-2 mr-4">
    <img
      src="{{ theme.link }}/static/icons/tag-solid.svg"
      class="w-full opacity-30"
      loading="lazy"
      alt="Tag Icon"
    >
  </div>
  <div>
  {% for category in post.categories %}
    <a
      href="{{ category.link }}"
      class="w-max inline-block mr-1 mt-1 no-underline py-1 px-2 font-medium rounded transition-all text-xs bg-pop-purple bg-opacity-25 text-pop-purple hover:text-white hover:bg-pop-purple hover:bg-opacity-100"
    >
      {{ category }}
    </a>
  {% endfor %}
  </div>
</div>
